.section_name{
    /* text-align: left;
    margin-left: 10%;
    margin-top: 10%; */
}

@media (max-width:900px){
    video{
        max-width:80%;
        display: block;
        margin: auto;
    }
}
