.portfolio{
    /* display: block; */

    /* grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; */
    /* height: 100%; */
    width: 100vw;
    max-width: 100vw;
    
    /* font-size: var(--portfolio-text-size); */
}

.portfolio-title{
    margin-left: 20px;
    font-size: var(--title-text-size);
    margin-top: 40px;
}

.project-title{
    /* font-size: var(--title-text-size); */
    font-family: 'Orbitron_Medium';
}

.portfolio li{
    margin-top: 20px;
}

.project-description{
    margin-top: 40px;
    margin-left: 20px;
}

.project-demo-video{
    min-width: 100%;    
    max-width: 100%;
}

.video-container{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80vw;
}